body{
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}




#startup-section{
    display: flex;
    width: 100%;
}

                    .startup-text{
                    width: 45%;
                    color: gray;
                    padding: 110px 0px 0px 110px;}

                        .startup-text h1{
                            font-size: 70px;                
                        }

                            .startup-text span{
                                color: #fd4e30;
                                font-weight: 800;
                            }

                                .startup-text p{
                                    padding-right: 30px;
                                    font-size: 25px;}

                                    .startup-text a{
                                        background-image: linear-gradient(to right, tomato, red);
                                        padding: 30px 60px;
                                        border-radius: 40px;
                                        font-size: 20px;
                                        color: white;
                                        font-weight: 600;
                                        text-decoration: none;
                                        display: inline-block;
                                        margin-top: 20px;
                                        box-shadow: 0px 0px 20px 0px gray;
                                        }
                      
                    
                
                    .startup-img{
                        width: 55%;
                    }

                    .startup-img img{
                        width: 95%;
                        padding: 20px 30px 0px 0px;
                    }





#about-me-section{
    display: flex;
    width: 100%;
    background-image: url(Images/About-me-bg.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-top: 95px;
}


            .about-me-img{
                width: 50%;
            }
            .about-me-img img{
                width: 120%;
                padding-left: 5px;
            }




            .about-me-text{
                width: 50%;
                color: gray;
                padding: 70px 0px 0px 80px;
            }


                    .about-me-text h1{
                        font-size: 50px;
                    }

                            .about-me-text span{
                                color: #fd4e30;
                                font-weight: 900;
                            }


                                .about-me-text p{
                                    padding-right: 90px;
                                    font-size: 20px;
                                }


                                        .about-me-text a{
                                            background-image: linear-gradient(to right, tomato, red);
                                            padding: 30px 60px;
                                            border-radius: 40px;
                                            font-size: 20px;
                                            color: white;
                                            font-weight: 600;
                                            text-decoration: none;
                                            display: inline-block;
                                            margin-top: 40px;
                                            box-shadow: 0px 0px 20px 0px gray;
                                        }



#Our-Recipie{
    width: 100%;
    margin-top: 60px;
}


            .Our-Recipie-text{
                text-align: center;
                
            }

            .Our-Recipie-text h1{
                font-size: 40px;
                letter-spacing: 5px;
                background-image: linear-gradient(to  left, white, tomato, white);            }

            .Our-Recipie-text p{
                font-size: 30px;
                color: gray;
            }



                                    .Recipie-Item{
                                        display: flex;
                                        width: 90%;
                                        margin: auto;                                       
                                    }


                                        .Items-description{
                                            width: 33%;
                                            border-radius: 20px;
                                            margin: 2%;
                                            box-shadow: 0px 0px 20px 0px gray;                                          
                                        }

                                        .Items-description h1{
                                            padding: 0px 10px 0px 25px;

                                        }

                                        .Items-description p{
                                           font-size: 20px; 
                                           font-weight: 100;
                                           color: gray;
                                           padding: 0px 10px 0px 25px;

                                        }

                                        .Items-description img{
                                            width: 90%;
                                            margin-left: auto;
                                            margin-right: auto;
                                            display: block;
                                            margin-top: 20px;
                                            border-radius: 20px;
                                        }


#sub-foll-like{
    width: 86%;
    border-radius: 40px;
    box-shadow: 0px 0px 20px 0px gray;
    margin: auto;
    display: flex;
    padding: 0px;
    margin-top: 150px;   
}

            .sub-foll-like-all-text{
                width: 28%;
                text-align: center;
                margin: 3%;
            }

                        .sub-foll-like-all-text h1{
                            font-size: 50px;
                            display: inline;
                        }


                                    .sub-foll-like-all-text p{
                                    font-size: 20px;
                                    letter-spacing: 3px;
                                    }




                                    
footer{
    background-color: rgb(31, 31, 31);
    color: rgb(185, 185, 185);
    text-align: center;
    height: 400px;
    width: 100%;
    margin-top: 60px;
}


        footer h1{
            display: inline-block;
            margin-top: 50px;
        }

                    footer span{
                        color: tomato;
                    }

                            footer h3{
                                letter-spacing: 8px;
                                opacity: 0.5;
                                margin: 0;
                            }