body{
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}




#startup-section{
    display: flex;
    width: 100%;
}

                    .startup-text{
                    width: 45%;
                    color: gray;
                    padding: 110px 0px 0px 110px;}

                        .startup-text h1{
                            font-size: 70px;                
                        }

                            .startup-text span{
                                color: #fd4e30;
                                font-weight: 800;
                            }

                                .startup-text p{
                                    padding-right: 30px;
                                    font-size: 25px;}

                                    .startup-text a{
                                        background-image: linear-gradient(to right, tomato, red);
                                        padding: 30px 60px;
                                        border-radius: 40px;
                                        font-size: 20px;
                                        color: white;
                                        font-weight: 600;
                                        text-decoration: none;
                                        display: inline-block;
                                        margin-top: 20px;
                                        box-shadow: 0px 0px 20px 0px gray;
                                        }
                        
                    
                
                    .startup-img{
                        width: 55%;
                    }

                    .startup-img img{
                        width: 95%;
                        padding: 50px 30px 0px 0px;
                    }


